.hero {
  margin: 0px 90px;
  margin-top: 90px;
}

.hero-text {
  color: white;
  font-size: 90px;
  font-weight: 400;
  line-height: 60px;
}

.hero-explore {
  display: flex;
  align-items: center;
  gap: 20px; /* Decreased the gap */
  width: fit-content;
  margin-top: 70px;
  padding: 10px 20px; /* Increased the padding */
  padding-left: 30px; /* Increased the left padding */
  border-radius: 30px; /* Reduced the border radius */
  background-color: white;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Added box-shadow */
  transition: box-shadow 0.3s ease; /* Added transition */
}

.hero-explore p {
  color: #292929;
  font-size: 20px;
  font-weight: 900;
  margin: 0; /* Removed default margin */
  text-transform: uppercase; /* Uppercase text */
}

.hero-dot-play {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.hero-dots {
  display: flex;
  align-items: center;
  gap: 23px;
  list-style: none;
}

.hero-dot {
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 7.5 px;
  cursor: pointer;
}

.hero-dot.orange {
  background: rgb(23, 47, 89);
}
.hero-play {
  display: flex;
  align-items: center;
  gap: 30px;
}

.hero-play p {
  color: white;
  font-size: 19px;
}
